@import "tailwindcss";

@theme {
  --color-purple-200: #dca7a7;
  --color-purple-500: #f6e9e9;
  --color-purple-600: #b13939;
  --color-gray-100: #eeeeef;
  --color-gray-200: #e6e9ed;
  --color-gray-600: #95989c;

}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
.font-inter {
  font-family: "Pacifico";
}

